[submodule "MikuEngine/vendor/stb_image"]
	path = MikuEngine/vendor/stb_image
	url = https://github.com/nothings/stb.git
[submodule "MikuEngine/vendor/spdlog"]
	path = MikuEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git

